* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
}

/* .attribution {
  font-size: 11px;
  text-align: center;
  color: #c0c0c0;
}
.attribution a {
  color: #888888;
} */
section {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
  width: 80%;
  gap: 80px;
  color: #ffffff;
  padding-top: 70px;
}

h1 {
  font-size: 30px;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  /* padding-right: 40rem; */
}

h4,
p,
a {

  font-family: "Open Sans", sans-serif;
}

.img {
  /* width: 100%; */
  height: auto;
}

h4 {
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;

}



.logo {

  padding-top: 40px;
  padding-left: 140px;


}

.btn {
  outline: none;
  padding: 15px 50px 15px 50px;
  color: hsl(257, 40%, 49%);
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border: none;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  color: #ffffff;
  background-color: hsl(257, 45%, 49%);
}



/* Social Icons */
.custom-icon {
  font-size: 20px;
  /* background: #fff; */
  color: #ffffff;

  padding: 8px;
  -webkit-border-radius: 1100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #ffffff;
  columns: #000000;
  text-align: center;

  display: table-cell;
  vertical-align: middle;
  width: 40px;
  height: 40px;

  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}

.custom-icon:hover {
  color: #ffffff;
  background: hsl(257, 45%, 49%);
  border: 1px solid hsl(257, 45%, 49%);
}

.fix-editor {
  display: none;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 100px;
  padding-bottom: 10px;

}

@media (max-width: 786px) {
  body {
    background-image: url(images/bg-mobile.svg);
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .logo {
    padding-left: 50px;
  }


  .icon {
    text-align: center;
  }

  section {
    gap: 0px;
  }

  .icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 20px;

  }
}

@media (max-width: 1024px) {
  img {

    width: 350px;
    height: auto;
  }
}